@keyframes glitch {
  0%, 69%, 71%, 89%, 97%, 100% { filter: none; }
  70%, 90%, 98% { filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='glitch'%3E%3CfeColorMatrix type='matrix' in='SourceGraphic' result='red_' values='1 0 0 0 0 0 0 0 0 0 0 0 .5 0 0 0 0 0 1 0'/%3E%3CfeColorMatrix type='matrix' in='SourceGraphic' result='blue_' values='0 0 0 0 0 0 1 0 0 0 0 0 .5 0 0 0 0 0 1 0'/%3E%3CfeOffset in='red_' dx='-2' dy='0' result='red'/%3E%3CfeOffset in='blue_' dx='2' dy='0' result='blue'/%3E%3CfeBlend mode='screen' in='red' in2='blue'/%3E%3C/filter%3E%3C/svg%3E#glitch"); }
}

@keyframes turn-on {
  0% { --shutter-x: 0; --shutter-y: 0; }
  75% { --shutter-x: 100vmax; --shutter-y: 1vmax; }
  100% { --shutter-x: 100vmax; --shutter-y: 100vmax; }
}

@keyframes turn-off {
  0% { --shutter-x: 100vmax; --shutter-y: 100vmax; }
  25% { --shutter-x: 100vmax; --shutter-y: .1vmax; }
  50% { --shutter-x: 1vmax; --shutter-y: 1vmax; }
  100% { --shutter-x: 0; --shutter-y: 0; }
}

@keyframes standby {
  0% { background-position: 0 0; opacity: 1; }
  50% { background-position: -100px 200px; }
  99% { background-position: -300px -300px; opacity: 1; }
  100% { background-position: 0 0; opacity: 0; }
}

@keyframes scanlines {
  0% { background-position: 0 -1px; }
  100% { background-position: 0 1px; }
}

@keyframes blink {
  50% { opacity: 0; }
}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes shelf {
  0% { background-position: 50% 50%; }
  50% { background-position:
    calc(var(--factor) * -1 * var(--shelf-x) * var(--layout-w) * var(--pixel) + 50%)
    50%;
  }
  100% { background-position:
    calc(var(--factor) * -1 * var(--shelf-x) * var(--layout-w) * var(--pixel) + 50%)
    calc(var(--factor) * var(--shelf-y) * var(--layout-h) * var(--pixel) + 50%);
  }
}