dialog {
  color: var(--color, var(--text));
  background-color: var(--shadow);
  border: none;
  position: relative;
  padding: 0;
  overflow: hidden;
}

dialog > div {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 0;
  max-height: 80dvh;
  padding: .5vmin 2.5vmin 2.5vmin;
  overflow: auto;
}

dialog::backdrop {
  background: rgb(0 0 0 / 80%);
}

dialog button[type="submit"] {
  margin-top: calc(8 * var(--pixel));
}

dialog h2 {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {

  dialog,
  dialog::backdrop { transition: opacity .4s ease-out; }

  @starting-style {
    dialog[open],
    dialog[open]::backdrop {
      opacity: 0;
    }
  }

}