dialog {
  --color: var(--text);
  color: color-mix(in srgb, var(--color) 10%, var(--text));
  background-color: color-mix(in srgb, var(--color) 20%, var(--darkest));
  border: none;
  box-shadow: var(--box);
  padding: .5vmin 2.5vmin 2.5vmin 2.5vmin;
  position: relative;
}

dialog::backdrop {
  background: rgba(0, 0, 0, .5);
}

dialog button[type="submit"] {
  margin-top: calc(8 * var(--pixel));
}

dialog h2 {
  text-align: center;
}