#disclaimer > div,
#title > div {
  padding: calc(56 * var(--pixel)) calc(64 * var(--pixel)) 0;
}

#disclaimer,
#title {
  background: url("../images/backgrounds/title.png") no-repeat center / cover;
}

#disclaimer > div {
  overflow: auto;
  background: rgb(0 0 0 / 80%);
}

#chapter {
  background: var(--shadow);
}

#chapter > #cover {
  background: url("../images/backgrounds/book_cover.png") no-repeat center / cover;
}

#chapter > #cover .bookmarks {
  position: absolute;
  top: calc(28 * var(--pixel));
}

#chapter > #cover .bookmarks:nth-child(odd) {
  left: calc(8 * var(--pixel));
}

#chapter > #cover .bookmarks:nth-child(even) {
  right: calc(8 * var(--pixel));
}

#chapter > #pages {
  background: url("../images/backgrounds/book_pages.png") no-repeat center / cover;
  display: grid;
  grid-auto-flow: column;
  column-gap: calc(1 * var(--pixel));
  padding: calc(12 * var(--pixel)) calc(29 * var(--pixel));
}

#chapter > #pages > div:nth-child(odd) {
  width: calc(131 * var(--pixel));
  padding-inline: calc(6 * var(--pixel));
  overflow: auto;
}

#chapter > #pages > div:nth-child(even) {
  width: calc(134 * var(--pixel));
  padding-inline: calc(6 * var(--pixel));
  overflow: auto;
}

#shelves {
  --shelf-scale: 2;
  background: url("../images/backgrounds/shelves.png") repeat center / calc(var(--shelf-scale) * 100%);
}

#shelves > div {
  padding: calc(28 * var(--pixel)) calc(32 * var(--pixel));
}

#shelves .cols div {
  padding: calc(4 * var(--pixel));
  background-color: hsla(0, 5%, 10%, .5);
}

#shelves .cols div:has(:hover, :focus, :active) {
  --color: var(--darkest);
  color: var(--darkest);
  background-color: var(--text);
}

@media (prefers-reduced-motion: no-preference) {
  .shelf #shelves { animation: shelf 4s cubic-bezier(.5, 0, .1, 1) forwards; }
}