.sprite {
  --spritesize: 64;
  --offset: 22;
  width: calc((var(--spritesize) - (2 * var(--offset))) * var(--pixel));
  height: calc(var(--spritesize) * var(--pixel));
  position: relative;
  overflow: hidden;
}

.sprite img {
  --frameset: 24;
  position: absolute;
  pointer-events: none !important;
  width: calc(var(--frameset) * var(--spritesize) * var(--pixel));
  top: calc(-1 * (var(--spriteset) - 1) * var(--spritesize) * var(--pixel));
  margin-left: calc(-1 * var(--offset) * var(--pixel));
}

.sprite img.idle {
  --frames: 24;
  --spriteset: 1;
  animation-duration: 5s;
}

.sprite img.wind {
  --frames: 20;
  --spriteset: 2;
  animation-duration: 4s;
}

@media (prefers-reduced-motion: no-preference) {
  .sprite img { animation: sprite 5s steps(var(--frames)) infinite; }
}