@import "reset.css";
@import "fonts.css";
@import "variables.css";

body {
  min-height: 100dvh;
  display: grid;
  place-items: center;
  color: var(--foreground);
  background: var(--background);
  font-family: HelvetiPixel, sans-serif;
  font-size: calc(10 * var(--pixel));
  image-rendering: pixelated;
  filter: drop-shadow(0 0 calc(24 * var(--pixel)) #000);
}

.screen {
  --screen-r: calc(24 * var(--pixel));
  --screen-v: calc(var(--screen-r)*(1 - sqrt(2)/4));
  --screen-p: calc(var(--screen-v) - var(--screen-r)/2);
  clip-path: inset(0 round var(--screen-r));
  clip-path: shape(
    from var(--screen-v) var(--screen-p),
    curve to 50% 0 with var(--screen-r) 0,
    curve to calc(100% - var(--screen-v)) var(--screen-p) with calc(100% - var(--screen-r)) 0,
    curve to calc(100% - var(--screen-p)) var(--screen-v) with calc(100% - 2*var(--screen-p)) calc(2*var(--screen-p)),
    curve to 100% 50% with 100% var(--screen-r),
    curve to calc(100% - var(--screen-p)) calc(100% - var(--screen-v)) with 100% calc(100% - var(--screen-r)),
    curve to calc(100% - var(--screen-v)) calc(100% - var(--screen-p)) with calc(100% - 2*var(--screen-p)) calc(100% - 2*var(--screen-p)),
    curve to 50% 100% with calc(100% - var(--screen-r)) 100%,
    curve to var(--screen-v) calc(100% - var(--screen-p)) with var(--screen-r) 100%,
    curve to var(--screen-p) calc(100% - var(--screen-v)) with calc(2*var(--screen-p)) calc(100% - 2*var(--screen-p)),
    curve to 0 50% with 0 calc(100% - var(--screen-r)),
    curve to var(--screen-p) var(--screen-v) with 0 var(--screen-r),
    curve to var(--screen-v) var(--screen-p) with calc(2*var(--screen-p)) calc(2*var(--screen-p))
  );
  position: relative;
  overflow: auto;
  height: calc(var(--layout-h) * var(--pixel));
  width: calc(var(--layout-w) * var(--pixel));
  padding: calc(10 * var(--pixel));
}

@property --screen-x {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 0;
}

@property --screen-y {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 0;
}

.screen:not(.off)::before {
  --screen-x: 100%;
  --screen-y: 100%;
}

.screen::before {
  --opacity: .05;
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 2;
  background:
    /* R */ radial-gradient(circle at 15% 100%, rgb(255 0 0 / var(--opacity)) 25%, transparent 75%),
    /* G */ radial-gradient(circle at 50% 0, rgb(0 255 0 / var(--opacity)) 25%, transparent 75%),
    /* B */ radial-gradient(circle at 85% 100%, rgb(0 0 255 / var(--opacity)) 25%, transparent 75%),
    /* light */ radial-gradient(circle at center, rgb(255 255 255 / calc(2 * var(--opacity))) 50%, transparent 100%),
    /* vignette */ radial-gradient(ellipse var(--screen-x) var(--screen-y) at center, transparent 75%, #000 100%);
}

.noise:not(.off)::before {
  --noise: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.5' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)'/%3E%3C/svg%3E");
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 2;
  background:
    /* noise */ black var(--noise) repeat 0 0 / 500px 500px;
}

.screen::after {
  --opacity: .05;
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1;
  background: 
    /* scanlines */ linear-gradient(to bottom, rgb(0 0 0 / var(--opacity)) 50%, transparent 50%) repeat 0 0 / 100% calc(2 * var(--pixel));
}

.glitch {
  text-shadow: var(--glitch);
}

.library {
  background: url(../images/library.png ) no-repeat center / cover;
}

.title {
  font-size: calc(50 * var(--pixel));
  text-align:center;
}

.caret::after {
  content: "_";
}

:focus-visible {
  outline-offset: calc(1 * var(--pixel));
  outline-width: var(--pixel);
}

fieldset {
  border-width: var(--pixel);
  border-style: solid;
  padding: calc(2 * var(--pixel)) calc(8 * var(--pixel)) calc(6 * var(--pixel)) calc(8 * var(--pixel));
  background-color: color-mix(in srgb, var(--background) 50%, transparent);
}

legend {
  font-family: NESPixel;
  padding: calc(4 * var(--pixel)) calc(4 * var(--pixel)) 0 calc(4 * var(--pixel));
  margin: 0 calc(-4 * var(--pixel)) ;
}

input:not([type="checkbox"], [type="radio"]) {
  color: var(--foreground);
  background-color: transparent;
  padding: 0 calc(2 * var(--pixel));
  border: none;
  box-shadow: var(--border);
}

input[type="radio"] {
  appearance: none;
  position: relative;
  width: calc(5 * var(--pixel));
  height: calc(5 * var(--pixel));
}

label:has([type="radio"]:not(:disabled)) {
  cursor: pointer;
  margin: 0 1rem 0 calc(-1 * var(--pixel));
}

input[type="radio"]:checked:before {
  color: var(--foreground);
  background-color: var(--background);
  content: "";
  position: absolute;
  inset: 0;
  width: calc(1 * var(--pixel));
  height: calc(1 * var(--pixel));
  box-shadow: var(--arrow-right);
}

button {
  font-family: NESPixel;
  position: relative;
  border: 0;
  padding: 0 calc(4 * var(--pixel));
  margin: calc(1 * var(--pixel)) calc(1 * var(--pixel));
  user-select: none;
  cursor: pointer;
  text-shadow: inherit, 3px 3px;
}

button::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  box-shadow: var(--border);
}

button:disabled {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .screen:not(.off)::before { animation: turn-on 1s ease-in-out forwards; }
  .noise:not(.off)::before { animation: noise .2s steps(3) infinite; }
  .screen.off::before { animation: turn-off 1s ease-in-out forwards; }
  .screen::after { animation: scanlines .2s steps(2, end) infinite; }
  .glitch { animation: glitch .1s steps(2, end) infinite; }
  .caret::after { animation: blink 1s steps(1, end) infinite; }
  input[type="radio"]:focus { animation: blink 1s steps(1, end) infinite; }
}

@keyframes noise {
  0% { background-position: 0 0; }
  50% { background-position: -100px 200px; }
  100% { background-position: -300px -300px; }
}

@keyframes turn-on {
  0% { --screen-x: 0; --screen-y: 0; }
  50% { --screen-x: .5%; --screen-y: .5%; }
  75% { --screen-x: 100%; --screen-y: 1%; }
  100% { --screen-x: 100%; --screen-y: 100%; }
}

@keyframes turn-off {
  0% { --screen-x: 100%; --screen-y: 100%; }
  25% { --screen-x: 100%; --screen-y: .1%; }
  50% { --screen-x: 1%; --screen-y: 1%; }
  100% { --screen-x: 0; --screen-y: 0; }
}

@keyframes scanlines {
  0% { background-position: 0 calc(var(--pixel) * -1); }
  100% { background-position: 0 calc(var(--pixel) * 1); }
}

@keyframes glitch {
  0% { text-shadow: var(--glitch); }
  100% { text-shadow: var(--glitch_animated); }
}

@keyframes blink {
  50% { opacity: 0; }
}