@import "reset.css";
@import "icons.css";
@import "typography.css";
@import "variables.css";
@import "forms.css";
@import "dialog.css";
@import "sprites.css";
@import "scenes.css";
@import "animations.css";

:focus-visible {
  outline-color: var(--focus);
  outline-offset: var(--pixel);
  outline-width: var(--pixel);
}

.primary { --color: var(--primary) !important; }
.secondary { --color: var(--secondary) !important; }
.tertiary { --color: var(--tertiary) !important; }
.success { --color: var(--success) !important; }
.warning { --color: var(--warning) !important; }
.danger { --color: var(--danger) !important; }
.info { --color: var(--info) !important; }
.light { --color: var(--text) !important; }
.muted { --color: var(--muted) !important; }
.dark { --color: var(--darkest) !important; }

.transparent { color: var(--text) !important; background: none !important; }

.box { box-shadow: var(--box); }

.stretched-link::after {
  position: absolute;
  content: "";
  inset: 0;
  z-index: 1;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

a:not(.button),
.link {
  color: var(--color, var(--primary));
  appearance: none !important;
  background: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  text-decoration: none;
}

a:not(.button):hover,
.link:hover {
  color: color-mix(in srgb, var(--color) 80%, var(--muted)) !important;
  background: none !important;
  text-decoration: underline;
  text-decoration-thickness: var(--pixel);
}

p, h1, h2, h3, h4, h5, h6, legend {
  color: var(--color);
  font-weight: 400;
}

h1, legend {
  font-family: NESPixel;
  text-shadow: 0 var(--pixel) 0 var(--darkest);
}

h1.unwritten {
  font-size: 3em;
}

h1.unwritten::after {
  content: "_";
}

progress {
  --color: var(--success);
  width: 100%;
  height: calc(4 * var(--pixel));
  appearance: none;
  border: var(--pixel) solid var(--darkest);
}

progress::-webkit-progress-bar {
  background: var(--darker);
}

progress::-webkit-progress-value {
  background: var(--color);
}

progress::-moz-progress-bar {
  background: var(--color);
}

.block {
  display: block;
  width: calc(100% - 2 * var(--pixel));
}

.unstyled {
  list-style: none;
  padding: 0;
}

.cols {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  column-gap: calc(8 * var(--pixel));
}

.cols > div {
  position: relative;
}

.align-start { text-align: start; }
.align-center { text-align: center; }
.align-end { text-align: end; }

body {
  min-height: 100dvh;
  display: grid;
  place-items: center;
  font-family: HelvetiPixel, sans-serif;
  font-size: calc(8 * var(--pixel));
  image-rendering: pixelated;
  color: var(--text);
  background-color: #000;
}

#monitor {
  --screen-r: 10vmin;
  --screen-v: calc(var(--screen-r)*(1 - sqrt(2)/4));
  --screen-p: calc(var(--screen-v) - var(--screen-r)/2);
  clip-path: inset(0 round var(--screen-r));
  clip-path: shape(
    from var(--screen-v) var(--screen-p),
    curve to 50% 0 with var(--screen-r) 0,
    curve to calc(100% - var(--screen-v)) var(--screen-p) with calc(100% - var(--screen-r)) 0,
    curve to calc(100% - var(--screen-p)) var(--screen-v) with calc(100% - 2 * var(--screen-p)) calc(2 * var(--screen-p)),
    curve to 100% 50% with 100% var(--screen-r),
    curve to calc(100% - var(--screen-p)) calc(100% - var(--screen-v)) with 100% calc(100% - var(--screen-r)),
    curve to calc(100% - var(--screen-v)) calc(100% - var(--screen-p)) with calc(100% - 2 * var(--screen-p)) calc(100% - 2 * var(--screen-p)),
    curve to 50% 100% with calc(100% - var(--screen-r)) 100%,
    curve to var(--screen-v) calc(100% - var(--screen-p)) with var(--screen-r) 100%,
    curve to var(--screen-p) calc(100% - var(--screen-v)) with calc(2 * var(--screen-p)) calc(100% - 2 * var(--screen-p)),
    curve to 0 50% with 0 calc(100% - var(--screen-r)),
    curve to var(--screen-p) var(--screen-v) with 0 var(--screen-r),
    curve to var(--screen-v) var(--screen-p) with calc(2 * var(--screen-p)) calc(2 * var(--screen-p))
  );
}

#monitor,
#screen {
  height: calc(var(--layout-h) * var(--pixel));
  width: calc(var(--layout-w) * var(--pixel));
  position: relative;
  overflow: auto;
}

@property --shutter-x {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 0;
}

@property --shutter-y {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 0;
}

dialog::before,
#monitor::before,
#screen::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;
}

#screen::after,
#screen.turn-on::after {
  --shutter-x: 100vmax;
  --shutter-y: 100vmax;
}

#screen.turn-off::after {
  --shutter-x: 0;
  --shutter-y: 0;
}

#monitor.shader dialog::before,
#monitor.shader::before {
  background:
    /* vignette */ radial-gradient(ellipse at center, transparent 75%, #000 200%),
    /* cyan */ radial-gradient(circle at 50% 0, rgb(0 255 255 / .05) 0%, transparent 50%),
    /* magenta */ radial-gradient(circle at 15% 100%, rgb(255 0 255 / .05) 0%, transparent 50%),
    /* yellow */ radial-gradient(circle at 85% 100%, rgb(255 255 0 / .05) 0%, transparent 50%);
}

#monitor.shader dialog::before,
#monitor.shader::before {
  background:
    /* pixels */ url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='black' fill-opacity='.2'%3E%3Crect width='24' height='2'/%3E%3Crect y='10' width='24' height='4'/%3E%3Crect y='22' width='24' height='2'/%3E%3C/g%3E%3Cg fill-opacity='.1'%3E%3Cg fill='red'%3E%3Crect x='1' y='2' width='4' height='8'/%3E%3Crect x='13' y='2' width='4' height='8'/%3E%3Crect x='6' y='14' width='4' height='8'/%3E%3Crect x='18' y='14' width='4' height='8'/%3E%3C/g%3E%3Cg fill='green'%3E%3Crect x='5' y='2' width='4' height='8'/%3E%3Crect x='17' y='2' width='4' height='8'/%3E%3Crect y='14' width='2' height='8'/%3E%3Crect x='10' y='14' width='4' height='8'/%3E%3Crect x='22' y='14' width='2' height='8'/%3E%3C/g%3E%3Cg fill='blue'%3E%3Crect y='2' width='1' height='8'/%3E%3Crect x='9' y='2' width='4' height='8'/%3E%3Crect x='21' y='2' width='3' height='8'/%3E%3Crect x='2' y='14' width='4' height='8'/%3E%3Crect x='14' y='14' width='4' height='8'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") 0 0 / calc(2 * var(--pixel)) calc(2 * var(--pixel)),
}

#screen::after {
  background:
    /* shutter */ radial-gradient(ellipse var(--shutter-x) var(--shutter-y) at center, transparent 75%, var(--shadow) 100%);
}

#screen.standby::after {
  background:
    /* noise */ #000 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.5' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)'/%3E%3C/svg%3E") repeat 0 0 / 500px 500px;
}

#scene > div {
  position: absolute;
  inset: 0;
  overflow: auto;
}

#scene > div > div {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

#scene > div > div * {
  pointer-events: auto;
}

@media (prefers-reduced-motion: no-preference) {
  h1.unwritten::after { animation: blink 1s steps(1, end) infinite; }
  #monitor.glitch:not(:has(.turn-off)), #monitor.glitch dialog { animation: glitch 5s infinite; }
  #monitor.shader dialog::after, #monitor.shader::after { animation: scanlines .2s steps(1, end) infinite; }
  #screen.turn-on::after { animation: turn-on .9s ease-in-out forwards; }
  #screen.turn-off::after { animation: turn-off .9s ease-in-out forwards; }
  #screen.standby::after { animation: standby .6s steps(3, end) forwards; }
}
