@font-face {
    font-family: 'TimesNewPixel';
    src: url('TimesNewPixel.woff2') format('woff2'),
        url('TimesNewPixel.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelvetiPixel';
    src: url('HelvetiPixel.woff2') format('woff2'),
        url('HelvetiPixel.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

